<a href="https://colab.research.google.com/github/JhonFiUNFV/gitprac/blob/master/Resolucion_Ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Descargamos spark con hadoop y Java
!apt-get update # Actualizar el gestor de paquetes de Linux
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # Descargar Java
!wget -q https://dlcdn.apache.org/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz # Descargar Apache Spark
!tar xf spark-2.4.8-bin-hadoop2.7.tgz #Descomprimir Spark
!pip install -q findspark # Para Utilizar Spark

In [ ]:
# Seteamos las variables de entorno
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.8-bin-hadoop2.7"

In [ ]:
# Creamos la conexion a Spark 
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
spark

In [ ]:
# Librerias Spark
from pyspark.sql import functions as F

#Librerias Python
import pandas as pd

# Importacion de los datos

In [ ]:
# Importando los datos del banco

In [ ]:
# Importando los datos del contacto

In [ ]:
# Importando los datos del educacion

In [ ]:
# Importando los datos del trabajo

In [ ]:
# Importando los datos del matrimonio

In [ ]:
# Importando los datos del gastos

# Ejercicio 2
2)	Desarrolle una consulta que muestre el ID, la edad (age) y el balance de la tabla bank ordenada por edad de menor a mayor y por balance de mayor a menor.

# Ejercicio 3
Desarrolle una consulta que muestre el ID, el id_marital y la columna default de los registros cuyo valor de loan sea igual a “yes”. (Tabla: bank)

# Ejercicio 4
Desarrolle una consulta que muestre el job_id, la duracion (duration) y la campaña (campaign) de los registros cuyo valor de balan sea menor igual a 800 y los meses (month) sean igual a Julio y Diciembre. (Tabla: bank)

# Ejercicio 5
Desarrolle una consulta que muestre la cantidad de registros agrupados por id_education y target. (Tabla: bank)

# Ejercicio 6
Desarrolle una consulta que muestre la suma de las duraciones (duration) de cada mes (month). (Tabla Bank)

# Ejercico 7
Desarrole una consulta que muestre el trabajo (job), la columna housing y los dias (day) de los registros cuyo id_contact se igual a ‘C’. (tablas: bank y job)

# Ejercicio 8
Desarrole una consulta que muestre el estado civil (marital), nivel de educación (education) y la edad (age) de los registros cuyo estado civil sea solteros (single) y su educación sea mayor a la secundaria (education = tertiary). (Tablas: bank, marital y education)

# Ejercicio 9
Desarrollar un consulta que cuente la cantidad de registros por cada tipo de contacto (contact) de los target que sean “no”. (Tablas: Bank y contact)

# Ejercicio 10
Elabore una consulta que sume los balances (balance) agrupados por trabajo (job), educación (education) para los registros cuya edad (age) sea mayor igual a 21, su educación no sea desconocida (unknown). (tablas: bank, job y education.)